/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for local GENCODE mouse M32 reference paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines a GENCODE mouse M32 / GRCm39 reference using files in:
        s3://mo-core/gencode_m32_reference
----------------------------------------------------------------------------------------
*/

params {
    igenomes_base = 's3://mo-core/gencode_m32_reference'

    genome = 'GENCODE_M32'

    protein_reference_db = "${params.igenomes_base}/protein_database/GENCODE.M32.basic.CHR.nonredundant.combined_contaminants.fa"

    genomes {
        'GENCODE_M32' {
            fasta                = "${params.igenomes_base}/GRCm39.primary_assembly.genome.fa"
            gtf                  = "${params.igenomes_base}/gene_annotation/GENCODE.M32.basic.CHR.gtf"
            mito_name            = 'chrM'
            macs_gsize           = '1.87e9'
            vep_cache_version    = 109
            vep_genome           = 'GRCm39'
            vep_species          = 'mus_musculus'
        }
    }
}
