/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for local GENCODE mouse vM38 reference paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines a GENCODE mouse vM38 / GRCm39 reference using files in:
        /Users/wenrongchen/proteogenomicsDIA/rna-seq-results/combined_protein_db/gencode_m38
----------------------------------------------------------------------------------------
*/

params {
    igenomes_base = '/Users/wenrongchen/proteogenomicsDIA/rna-seq-results/combined_protein_db/gencode_m38'

    genome = 'GENCODE_M38'

    protein_reference_db = "${params.igenomes_base}/gencode.vM38.pc_translations_uniprot_like.basic.fa"

    genomes {
        'GENCODE_M38' {
            fasta                = "${params.igenomes_base}/GRCm39.primary_assembly.genome.fa"
            gtf                  = "${params.igenomes_base}/gencode.vM38.basic.annotation.gtf"
            mito_name            = 'chrM'
            macs_gsize           = '1.87e9'
            vep_cache_version    = 115
            vep_genome           = 'GRCm39'
            vep_species          = 'mus_musculus'
        }
    }
}
